body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.navbar {
    background-color: #35424a;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.scrollbox { /* scrollable container to put images inside */
    overflow: auto;
    text-align: center;
}
